body h1{
    font-weight: 800;
    line-height: normal;
}
body h1 span {
    font-weight: 300;
    line-height: normal;
}
body h2 {
    font-weight: 700;
    line-height: normal;
    font-size: 6vw;
}
body h3 {
    font-weight: 600;
    line-height: normal;
    font-size: 5vw;
}
body h4 {
    font-weight: 500;
    line-height: normal;
}
body p{
    font-weight: 400;
    line-height: normal;
    text-align: justify;
}

body{
    font-family: gilroy-regular;
}

/*Fonts */
@font-face {
    font-family: gilroy-regular;
    src: url(../../static/fonts/Gilroy-Regular.ttf);
}

@font-face {
    font-family: gilroy-bold;
    src: url(../../static/fonts/Gilroy-Bold.ttf);
}
@font-face {
    font-family: gilroy-light;
    src: url(../../static/fonts/Gilroy-Light.ttf);
}
@font-face {
    font-family: gilroy-thin;
    src: url(../../static/fonts/Gilroy-Thin.ttf);
}
@font-face {
    font-family: gilroy-black;
    src: url(../../static/fonts/Gilroy-Black.ttf);
}
@font-face {
    font-family: gilroy-extraBold;
    src: url(../../static/fonts/Gilroy-ExtraBold.ttf);
}
@font-face {
    font-family: gilroy-heavy;
    src: url(../../static/fonts/Gilroy-Heavy.ttf);
}

@font-face {
    font-family: gilroy-medium;
    src: url(../../static/fonts/Gilroy-Medium.ttf);
}
@font-face {
    font-family: gilroy-semiBold;
    src: url(../../static/fonts/Gilroy-SemiBold.ttf);
}
@font-face {
    font-family: gilroy-ultraLight;
    src: url(../../static/fonts/Gilroy-UltraLight.ttf);
}

/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/base.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/base";
 */
@tailwind base;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */


.menu-open{
    position: relative;
    overflow: hidden;
    height: 100vh;

}

.appointment-type{
    color: #12443e;
    border-bottom: 1px solid #12443e;
}
input{
    border-bottom: 1px solid #12443e;
}
.customer-contact-info::placeholder{
    color: #12443e;
    opacity: 1;
}
.book-now-inner-container{
    width: fit-content;
    border: 1px solid #12443e;
}
.carousel-container{
    height: fit-content;
    width: fit-content;
}

.show{
    display: block;
}
.hide{
    display: none;
}
/* Summary tag arrow customization*/
.facilities summary {
    font-size: 1.15em;
    display: flex;
    justify-content: space-between;
    outline: none
}

.facilities summary::-webkit-details-marker {
    display: none;
}

.facilities summary:after {
    content: "+";
    color: #12443e;
    float: right;
    font-size: 35px;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 25px;
    margin-top: 4px;
}

.facilities details {
    border: 1px solid #969696;
    padding: 10px;
    border-radius: 4px;
}

.facilities details[open] summary:after {
    content: "-";
}




.facilities.Exp img {
    margin-top: 0.75rem;
    max-height: 245px;
    width: 100%;
    object-fit: cover;
}
.facilities.Exp ul.roomFeatures li{
    min-width: 65px;
    text-align: center;
}
.facilities.Perfloor.px-5.my-5 details {
    border: none;
    padding: 0px;
}

.highlight {
    background: white;
    margin-top: 75px;
    margin-bottom: -65px;
    padding: 25px;
    box-shadow: 0px 6px 10px #00000024;
}
.highlight span {
    font-size: 3.8vw;
    font-weight: 600;
}
button.globe_btn {
    border: 1px solid #12443e;
    margin: 0 0 0 auto;
}
button.globe_btn a {
    background: #12443e;
    padding: 10px 26px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 4px;
    font-size: 4vw;
    line-height: normal;
}

.facOneSec .details{
    background:white;
    padding:25px;
    margin:-40px 15px -40px 15px;
    box-shadow: 0px 6px 10px #00000024;
}

.facSecSec .details{
    background:white;
    padding:25px;
    margin:-40px 15px 40px 15px;
    box-shadow: 0px 6px 10px #00000024;
}
